<h2>Filter</h2>

<div class='row'>
    <div class='col-md-1'>
        {{select-box items=types selectedItem=selectedType}}
    </div>
    <label>Type</label>
</div>

<h3>Predicates</h3>
<button class='btn btn-primary' {{action 'newPredicate'}}>New</button>
<div class='row'>

    <div class='col-md-12'>

        {{#each predicates as |predicate index|}}
            {{analytics-query-predicate predicate=predictat index=index updatePredicate=(action 'updatePredicate') deletePredicate=(action 'deletePredicate')}}

        {{/each}}
    </div>

</div>

{{yield}}
