
<div class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Start</label>
    {{input type="number" class="form-control" value=rangeStart}}
</div>
  
  <div class="form-group">
    <label for="exampleInputEmail2">End</label>
    {{input type="number" class="form-control" value=rangeEnd }}
  </div>

</div>
