<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Interval</h3></div>
    <div class="panel-body">
        <p class="small text-muted"> Specifies a date and time range for the query, such as a week, day, or 30 minute interval.
        </p>
        <form class="form form-horizontal form-horizontal-labels-left form-flex form-flex-1-col">
            <div class="form-group">
                <label class="control-label">Start (Local Time)</label>
                {{bs-datetimepicker date=startDate format='YYYY-MM-DD h:mm:ss a' updateDate=(action (mut startDate))}}
            </div>
            <div class="form-group">
                <label class="control-label">End (Local Time)</label>
                {{bs-datetimepicker date=endDate format='YYYY-MM-DD h:mm:ss a' updateDate=(action (mut endDate))}}
            </div>
        </form>
    </div>
</div>
