<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Detail Metrics</h3></div>
    <div class="panel-body">
      <p class="small text-muted">Metrics for which to include additional detailed observations.</p>
      {{two-col-selector query=query availableItems=availableDetailMetrics selectedItems=selectedDetailMetrics}}
    </div>
</div>
