
<div class='row top-margin'>

    <button class='btn btn-danger btn-xs pull-left clause-delete' {{action 'delete'}}><i class="fa fa-trash" aria-hidden="true"></i></button>
    <div class='col-md-11'>
        <div class='row'>
            <div class='col-md-1'>
                <label>Type</label>
            </div>
            <div class='col-md-1'>
                {{select-box items=types selectedItem=selectedType}}
            </div>


        </div>
        <div class='row'>
            <h4>Predicates</h4>
            <div class='col-md-11'>

                {{#each predicates as |predicate index|}}
                    {{analytics-query-predicate predicate=predicate index=index updatePredicate=(action 'updatePredicate') deletePredicate=(action 'deletePredicate')}}

                {{/each}}
            </div>

        </div>
        <button class='btn btn-primary btn-sm top-margin' {{action 'newPredicate'}}  >New Predicate</button>
    </div>

</div>
<div class='row' class='bottom-border top-margin' >
</div>
