<h2>Metrics</h2>
<p class="text-muted">Which metrics to you want returned in the result set?  No selected metrics will return all available metrics.  Not all metrics apply for every query.</p>
{{two-col-selector availableItems=availableMetrics selectedItems=selectedMetrics}}
