<h2>Group By</h2>
<p class="text-muted">
    Behaves like a SQL GROUPBY. Allows for multiple levels of grouping as a list of dimensions. Partitions resulting aggregate computations into distinct named subgroups rather than across the entire result set as if it were one group.
</p>
<div class="query-indent">
    {{two-col-selector availableItems=groupBy selectedItems=value title=''}}

</div>
