<form class="form form-horizontal form-flex form-flex-1-col form-flex-has-delete">
    <div class="form-group">
        <div class="control-label">
            <label>Type</label>
        </div>
        {{select-box items=types selectedItem=selectedType}}
        <button class='btn btn-link btn-delete' {{action 'delete'}}>
            <i class="ion-close-round" aria-hidden="true"></i>
        </button>
    </div>
</form>

<h6>Predicates</h6>

{{#each predicates as |predicate index|}}
    {{analytics-query-predicate predicate=predicate index=index updatePredicate=(action 'updatePredicate') deletePredicate=(action 'deletePredicate') filterValueOverride=filterValueOverride}}
{{/each}}

<button class='btn btn-link btn-sm' {{action 'newPredicate'}}>
    <i class="fa fa-plus"></i>Add Predicate
</button>
