<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Filter</h3></div>
    <div class="panel-body">
      <div class="filter-section">
        {{analytics-query-filter filter=filter query="flowObservation" filterValueOverride=flowObservationFilter}}
      </div>
    </div>
</div>

{{analytics-query-metrics selectedMetrics=selectedMetrics query="flowObservation" queryType="flowObservation"}}
{{analytics-query-metrics-detail selectedDetailMetrics=selectedDetailMetrics query="flowObservation"}}
