<div style='margin:0px 10px'>
    <div class='pull-left developer-tools'>
        Developer Tools
    </div>

    <div class='pull-right'>
        <img src={{me.images.[0].imageUri}} class="img-circle profile-image"/>
    </div>

    <div class='pull-right'>
        {{me.name}}
        <br />
        {{me.organization.name}}
    </div>

</div>
