<ul class="nav navbar-nav">
    <li>
      {{#header-bar}}{{/header-bar}}
    </li>
    {{#each modules as |module|}}
    <li>
        {{#link-to module.path title=module.name}}
          <i class={{module.icon}} aria-hidden="true"></i>
        {{/link-to}}
    </li>
    {{/each}}
</ul>