<ul>
    <li>
        {{#link-to 'api-explorer' title="API Explorer"  }}
          <i class="fa fa-bolt" aria-hidden="true"></i>
        {{/link-to}}

    </li>
    <li>
        {{#link-to 'codeeditor' title="Code Editor"  }}
          <i class="fa fa-file-code-o " aria-hidden="true"></i>
        {{/link-to}}

    </li>
    <li>
        {{#link-to 'notificationtester' title="Notification Tester"  }}
          <i class="fa fa-paper-plane " aria-hidden="true"></i>
        {{/link-to}}

    </li>

</ul>
<ul id='logout'>
    <li>
        <a href="#" title='Sign Out' {{action 'logOut'}}>
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </li>
</ul>
