<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Filter</h3></div>
    <div class="panel-body">
      <div class="filter-section">
        {{analytics-query-filter query="queueObservation" filter=filter filterValueOverride=queueObservationFilter}}
      </div>
    </div>
</div>

{{analytics-query-metrics selectedMetrics=selectedMetrics query="queueObservation"}}
