<div class="form-group form-group-offset">
    <label class='control-label capitalize'>From</label>
    {{input type='number'  value=gte}}
</div>
<div class="form-group form-group-offset">
    <label class='control-label capitalize'>To</label>
    {{input type='number' value=lt}}
</div>
