<div class="form-group form-group-offset">
    <label class='control-label capitalize'>GTE</label>
    {{input value=gte}}
</div>
<div class="form-group form-group-offset">
    <label class='control-label capitalize'> LT  </label>
    {{input value=lt}}
</div>
