<h2>
  <span>Generated Query</span>
  <span class="small text-muted">This is the JSON body sent to the Analytics API.</span>
</h2>


<pre><code>{{queryJson}}</code></pre>

<button class='btn btn-primary' {{action 'execute'}}>Execute</button>

{{#if queryResult}}
<pre><code>{{queryResult}}</code></pre>
{{/if}}
