<h2>Generated Query</h2>
<pre>
<code>
{{queryJson}}</code>
</pre>

<button class='btn btn-primary' {{action 'execute'}}>Execute</button>

{{#if queryResult}}
<pre>
<code>
{{queryResult}}</code>
</pre>
{{/if}}
