<h2>
  <span>Generated Query</span>
  <span class="small text-muted">This is the JSON body sent to the API.</span>
</h2>


<pre><code>{{queryJson}}</code></pre>

<button class='btn btn-primary' {{action 'execute'}}>Execute Query</button>

{{#if queryResult}}
<h2>

</h2>
<h2>
  <span>Query Result</span>
</h2>


<pre><code>{{queryResult}}</code></pre>
{{/if}}
