<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Filter</h3></div>
    <div class="panel-body">
      <div class="filter-section">
        {{analytics-query-filter query="userObservation" filter=filter filterValueOverride=userObservationFilter}}
      </div>
    </div>
</div>

{{analytics-query-metrics selectedMetrics=selectedMetrics query="userObservation"}}
{{analytics-query-metrics-detail selectedDetailMetrics=selectedDetailMetrics query="userObservation"}}
