#code-editor {

    > .row {
        height: 100%;

        .col-md-6 {
            height: 50%;
        }
    }

    pre {
        padding: 0px;
        background-color: transparent;
        border: none;
    }

    pre, code {
       white-space: pre-line;
    }

    .nav-tabs {
        margin-top: 20px;

        @media (min-width: @screen-md) {
            margin-top: 0;
        }
    }

    .tab-content {
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        height: calc(~"100% - 82px");

        @media (min-width: @screen-md) {
            height: calc(~"100% - 132px");
            overflow: hidden;
            position: fixed;
            width: calc(~"50% - 35px");
        }

        .tab-pane {
            height: calc(~"100%");
            overflow-y: auto;
            width: 100%;

            iframe {
                width: 100%;
                height: calc(~"100%");
            }
        }
    }

    .code-info {
        font-size: 24px;
    }

    .console-log {
        width: 100%;

        .editor {
            height: 400px;
            border: none;
            border-radius: 0px;
            margin-top: 0px;
        }

        .error {
            color: red;

            .ace_gutter {
                background-color: red;
            }
        }

        .warn {
            color: #DADA17;
            
            .ace_gutter {
                background-color: #faebcc;
            }
        }
    }

    ul.console-log {
        li {
            list-style: none;
            border-bottom: 1px solid #ddd;
        }
    }

    .ace_editor {
        height: calc(~"100% - 72px");
        border: 1px solid #ddd;

        @media (min-width: @screen-md) {
            height: calc(~"100% - 162px");
            position: fixed;
            width: calc(~"50% - 35px");
        }
    }

    .critical {
        color: red;
        font-weight: bold;
    }
}

#codeEditorModal {
    ul{
        margin: 20px;
    }
}

#code-runner {
    .hide;
}
