#code-editor {
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    width: calc(~"100%");

    @media (min-width: @screen-md) {
        width: calc(~"100% - 20px;");
    }

    > .row {
        height: 100%;

        @media (min-width: @screen-md) {
            // margin-left: 0;
            // margin-right: 0;
        }

        > .col-md-6 {
            height: 50%;

            &:nth-child(2) {
                padding-left: 0;
            }
        }
    }

    pre {
        padding: 0px;
        background-color: transparent;
        border: none;
    }

    pre, code {
       white-space: pre-line;
    }

    .nav-tabs {
        margin-top: 12px;
        margin-right: 0;
        margin-left: 15px;

        @media (min-width: @screen-md) {
            margin-right: 15px;
            margin-left: 0;
            margin-top: 16px;
        }

        > li:first-child {
            @media (min-width: @screen-md) {
                margin-left: 0;
            }
        }
    }

    .tab-content {
        margin-left: 15px;
        height: calc(~"100% - 54px");

        @media (min-width: @screen-md) {
            height: calc(~"100% - 107px");
            margin-left: 0;
            overflow: hidden;
            position: fixed;
            width: calc(~"50% - 15px");
        }

        .tab-pane {
            height: calc(~"100%");
            width: 100%;

            &.tab-pane-console {
                overflow-y: auto;
            }

            iframe {
                width: 100%;
                height: calc(~"100%");
            }

            .empty-state {
                height: calc(~"50%");
                width: calc(~"100% - 40px");

                @media (min-width: @screen-md) {
                    width: calc(~"50% - 20px");
                    height: calc(~"100%");
                }
            }
        }
    }

    .code-info {
        font-size: 24px;
    }

    .console-log {
        margin-bottom: 0;
        min-height: 100%;
        display: flex;
        flex-flow: column;

        .log {
            border-bottom: 1px solid #ddd;
            display: flex;
            flex-direction: column;
            flex: 1 1 1;
            justify-content: center;
            list-style: none;
            min-height: 37px;
            padding: 8px 15px;

            &.log-editor {
                flex: 1 1 auto;

                .param {
                    display: flex;
                    flex-direction: column;
                    flex: 1 0 auto;
                    min-height: 37px;
                }

                .editor {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    border: none;
                    border-radius: 0px;
                    position: relative;
                    margin-top: -8px;
                    margin-left: -15px;
                    margin-bottom: -8px;
                    min-height: 300px;
                    width: calc(~"100% + 30px");

                    .ace_scroller {
                        height: calc(~"100%");

                        .ace_content {
                            height: calc(~"100%");
                        }
                    }
                }
            }
        }

        .error {
            color: red;

            .ace_gutter {
                background-color: red;
            }
        }

        .warn {
            color: #DADA17;
            
            .ace_gutter {
                background-color: #faebcc;
            }
        }
    }

    .ace_editor {
        height: calc(~"100% - 52px");
        border-bottom: 1px solid #ddd;

        @media (min-width: @screen-md) {
            border-right: 1px solid #ddd;
            border-bottom: none;
            height: calc(~"100% - 102px");
            position: fixed;
            width: calc(~"50% - 15px");
        }

        .ace_gutter,
        .ace_scroller {
            padding-top: 8px;
        }

        .ace_gutter-active-line {
            margin-top: 8px;
        }
    }

    .critical {
        color: red;
        font-weight: bold;
    }
}

#code-runner {
    .hide;
}
