.navbar {
  border-radius: 0;

  .nav.navbar-nav {
    > li.dropdown {
        a strong {
        color: @text-color;
        font-weight: 500;
      }

      .dropdown-menu-with-check {
        > li > a {
          padding-left: 30px;
          position: relative;

          .fa-check {
            color: #7b7b7b;
            font-size: 12px;
            position: absolute;
            left: 12px;
            top: 7px;
          }
        }
      }
    }
  }

  &.navbar-default {
    display: flex;
    margin-bottom: 0;

    .nav {
      &.navbar-nav {
        display: flex;
        margin: 0;
        width: 100%;

        > li {
          border-left: solid 1px #ddd;

          &:first-child {
            border-left: none;
          }

          &:last-child {
            border-right: solid 1px #ddd;
          }

          &:only-child {
            border: none;
          }

          &.dropdown {
            .dropdown-menu {
              left: -1px;
            }
          }

          > a {
            outline: none;
            padding: 18px 15px;
            white-space: nowrap;

            & > i {
              line-height: 17px;
              margin-bottom: 0;
              height: 17px;
              font-size: 20px;
            }
          }

          > .btn {
            &.btn-link {
              display: inline-block;
              outline: none;
              padding: 17px 15px 16px;
            }

            .fa-play {
              position: relative;
              font-size: 13px;
              margin-top: -4px;
            }
          }
        }

        &.navbar-right {
          justify-content: flex-end;
        }
      }
    }
  }

  &.navbar-inverse {
    font-family: @font-family-secondary;
    margin-bottom: 0;
    position: relative;

    .container-fluid {
      display: flex;
    }

    #navBar {
      max-height: @navbar-height;
    }

    .nav.navbar-nav {
      @media (max-width: @screen-sm) {
        margin: 4px 0;
      }

      > li {
        @media (max-width: @screen-sm) {
          display: inline-block;
        }

        > a {
          font-size: 15px;
          max-height: @navbar-height;

          &.active {
            color: white;
          }

          > i {
            font-size: 20px;

            @media (min-width: 1270px) {
              font-size: 15px;
              margin-right: 5px;
            }
          }

          > .navbar-link-text {
            .hide;

            @media (min-width: 1270px) {
              display: inline-block !important;
            }
          }
        }
      }
    }

    .navbar-brand {
      font-size: 11px;
      position: relative;
      padding-left: 50px;
      padding-top: 15px;
      text-transform: uppercase;

      @media (min-width: @screen-sm) {
        margin-right: 36px;
        padding-top: 14px;
      }

      i {
        font-size: 28px;
        margin-right: 6px;
        position: absolute;
        left: 15px;
        top: 11px;
      }

      .navbar-brand-text {
        @media (min-width: @screen-sm) {
          font-size: 20px;
          margin-right: 0;
          text-transform: none;
          padding-top: 0;
        }
      }
    }
  }

  .menu-right {
    color: @navbar-inverse-color;
    max-width: 175px;
    margin: auto 0 auto 20px;
    position: absolute;
    right: 15px;
    top: 5px;
  }

  #user-info {
      display: flex;
      align-items: center;
      top: @navbar-height;
      cursor: pointer;

      .profile-image {
          height: 40px;

          @media (min-width: @screen-sm) {
            margin-right: 10px;
          }
      }

      .col-text {
        display: flex;
        flex-flow: column;

        .username {
          max-width: 90px;
          .text-overflow;
        }

        .org-name {
          font-size: 11px;
          font-weight: 300;
          max-width: 100px;
          .text-overflow;
          text-transform: uppercase;
        }
      }

      .link-sign-out {
        align-self: flex-start;
        margin-left: 8px;
        margin-top: 4px;

        i {
          color: @navbar-inverse-color;
          font-size: 19px;
        }
      }
  }

  #users-me {
      background: white;
      border: solid 1px #ddd;
      border-top-color: transparent;
      border-right-color: transparent;
      display: block;
      max-width: 33%;
      color: black;
      min-height: 175px;
      position: fixed;
      padding-bottom: 20px;
      right: 0;
      top: @navbar-height + 1px;
      z-index: 100000;
      height: calc(~"100% - 300px");
      border-radius: 0px;

      .user-info {
        padding: 15px 15px 0;

        .username {
          font-size: 16px;
        }

        .org-name {
          text-transform: uppercase;
          color: #aeaeae;
          font-size: 12px;
        }

        .link-sign-out {
          font-size: 13px;
          text-decoration: none;
        }
      }

      button {
          position: absolute;
          right: 14px;
          top: 15px;

          @media (min-width: @screen-sm) {
            position: static;
            margin-left: 10px;
            margin-right: 15px;
            margin-top: 10px;
            .pull-right;
          }
      }

      label {
          margin-left: 18px;
          font-family: @font-family-sans-serif;
          font-size: 16px;
          font-weight: 400;
          padding-top: 10px;
          padding-bottom: 8px;
      }

      pre {
          margin-left: 15px;
          margin-right: 15px;
          max-width: 100%;
          height: calc(~"100% - 115px");

          @media (min-width: @screen-sm) {
            height: calc(~"100% - 40px");
          }
      }
  }
}

#logout {
    position: absolute;
    bottom: 0;
}