.capitalize{
    text-transform: capitalize;
    select{
        text-transform: capitalize;
    }
}

.bottom-border{
    border-bottom: 1px solid lightgrey;
}

.top-margin{
    margin-top:5px
}

.query-indent{
    margin-left:20px;
}

.two-col-button{
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

pre,code {
   white-space: nowrap;
}

.clause-delete{
    margin-right: 15px;
}
