.col-query-types {
    position: fixed;
    width: 35%;
    height: 100%;

    .query-type-details {
        border-right: solid 1px #ddd;
        height: calc(~"100% - 108px");
        overflow-y: auto;

        .panel {
            border-bottom: none;
            box-shadow: none;
            margin-bottom: 0;

            &:first-child {
                border-top: none;
            }

            .panel-body {
                box-shadow: none;
                padding: 15px;
            }
        }
    }
}

.col-generated-query {
    padding: 20px;
    position: fixed;
    left: 35%;
    width: 65%;
    height: calc(~"100% - 50px");
    display: flex;
    flex-flow: column;
    overflow-y: auto;

    pre {
        border-radius: 0;
        border-left: none;
        border-right: none;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.capitalize{
    text-transform: capitalize;
    select{
        text-transform: capitalize;
    }
}

.bottom-border{
    border-bottom: 1px solid lightgrey;
}

.top-margin{
    margin-top:5px
}

.query-indent{
    margin-left:20px;
}

.two-col-button{
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

pre,code {
   white-space: nowrap;
}

.clause-delete{
    margin-right: 15px;
}
