<head>
  <script type="text/javascript" src="purecloud-api.js"></script>
  <script src="script-details.js"></script>
  <script data-require="jquery" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
  <script type="text/javascript" src="https://mugifly.github.io/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>
  <link type="text/css" href="https://mugifly.github.io/jquery-simple-datetimepicker/jquery.simple-dtpicker.css" rel="stylesheet" />
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <link type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="site.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
  <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
</head>

<body>
  <div class="title-bar">
    <span class="large nav">
      <a href="index.html"><<< </a>
    </span>
    <p class="xx-large inin-header-text" style="float:left">Conversation Details</p>
    <p class="large toggle">
      <a data-bind="click: scriptViewModel.toggle, text: scriptViewModel.inputMethod()" href="#">
      </a>
    </p>
    <div style="clear: both;"></div>
  </div>
  <div class="page-body">
    <div data-bind="visible: true">
      <div class="group-container">
        <p class="group-title">Date Range</p>
        <div class="group-element-container">
          <input type="text" name="startDate" class="date-entry" id="startDate" value="">
          <script type="text/javascript">
            $(function() {
              $('*[name=startDate]').appendDtpicker({
                "dateOnly": true,
                "closeOnSelected": true
              });
            });
          </script>
          <input type="text" name="endDate" class="date-entry" id="endDate" value="">
          <script type="text/javascript">
            $(function() {
              $('*[name=endDate]').appendDtpicker({
                "dateOnly": true,
                "closeOnSelected": true
              });
            });
          </script>
        </div>
      </div>

      <div class="group-container">
        <p class="group-title">Predicates</p>
        <div class="group-element-container">
          <button id="addRow" class="group-button" onclick="addRow('queries')">Add Predicate</button>
          <button id="deleteRow" class="group-button" onclick="deleteRow('queries')">Delete Selected Rows</button>
        </div>
        <div class="group-element-container">
          <select id="andOrSelect">
            <option value="and">AND</option>
            <option value="or">OR</option>
          </select>
        </div>
        <div class="group-element-container">
          <table class="query-table" id="queries" width="350px"></table>
        </div>
      </div>

      <div class="group-container">
        <p class="group-title">Group By</p>
        <div class="group-element-container">
          <button id="addRow" class="group-button" onclick="addRow('groupByTable')">Add Group By</button>
          <button id="deleteRow" class="group-button" onclick="deleteRow('groupByTable')">Delete Selected Rows</button>
        </div>
        <div class="group-element-container">
          <table class="query-table" id="groupByTable"></table>
        </div>
      </div>
      <div class="group-element-container">
        <button id="submitQuery" class="group-button fourths-divider" onclick="submit('queries')">Submit Query</button>
      </div>
    </div>
    <div data-bind="visible: scriptViewModel.builder()">
      <div class="group-container">
        <p class="group-title">Raw Query</p>
        <div class="group-element-container">
          <select id="queryEndpointSelect">
            <option value="conversationsAggregate">Conversations Aggregate</option>
            <option value="conversationDetails">Conversation Details</option>
          </select>
        </div>
        <div class="group-element-container">
          <textarea id="rawQuery" class="raw-query-box" rows="10" cols="50">
{
  "interval": "2016-07-01/2016-07-13",
  "segmentFilters": [
    {
      "type": "and",
      "predicates": [
        {
          "dimension": "queueId",
          "value": "502cdd7f-4cd1-43cb-b721-2492eb0b7c26"
        }
      ]
    }
  ]
}
          </textarea>
        </div>

        <div class="group-element-container">
          <button id="submitRawQuery" class="group-button" onclick="submitRawQuery()">Submit Raw Query</button>
        </div>
      </div>
    </div>


    <div class="results-div">
      <div id="results"></div>
    </div>

    <div class="group-container" data-bind="visible:false">
      <p class="group-title">Results Configuration Builder</p>
      <div class="group-element-container">
        <button id="addRow" class="group-button" onclick="addRowWithHeader('resultsConfigTable')">Add Config Option</button>
        <button id="deleteRow" class="group-button" onclick="deleteRowWithHeader('resultsConfigTable')">Delete Config Option</button>
      </div>
      <div class="group-element-container">
        <table class="query-table" id="resultsConfigTable">
          <tr>
            <th></th>
            <th style="text-align: center">Display Name</th>
            <th style="text-align: center">Display Format</th>
            <th style="text-align: center">Display Value</th>
          </tr>
        </table>
      </div>
      <div class="group-element-container">
        <button id="submitRawResults" class="group-button" onclick="submitRawResults()">Submit Results Configuration</button>
      </div>
    </div>
    <div class="group-container">
      <p class="group-title">Raw Results Configuration</p>
      <div class="group-element-container">
        <textarea id="rawResults" class="raw-query-box" rows="10" cols="50">{
  "mediaType": "email",
  "queries": [
  {
    "interval": "2016-06-01/2016-06-30",
    "segmentFilters": [
      {
        "type": "and",
        "predicates": [
          {
            "dimension": "queueId",
            "value": "502cdd7f-4cd1-43cb-b721-2492eb0b7c26"
          }
        ]
      }
    ]
  }
  ],
  "columns": [{
    "displayIndex": 0,
    "displayName": "Id",
    "displayFormat": "String",
    "evaluationType": "String",
    "valueExpression": "conversationId"
  }, {
    "displayIndex": 1,
    "displayName": "Sent On",
    "displayFormat": "String",
    "evaluationType": "String",
    "valueExpression": "conversationStart"
  }, 
  {
    "displayIndex": 2,
    "displayName": "Queue",
    "displayFormat": "GUID",
    "queryURL": "Queue",
    "valueExpression": "participants[purpose:acd].sessions[mediaType:email].segments[segmentType:interact].queueId"
  }, 
  {
    "displayIndex": 3,
    "displayName": "Sender",
    "displayFormat": "String",
    "valueExpression": "participants[purpose:customer].participantName"
  }, 
  {
    "displayIndex": 4,
    "displayName": "Subject",
    "displayFormat": "String",
    "valueExpression": "participants[purpose:customer].sessions[mediaType:email].segments[segmentType:interact].subject"
  },
  {
    "displayIndex": 5,
    "displayName": "Responded At",
    "displayFormat": "String",
    "valueExpression": "participants[purpose:acd].sessions[mediaType:email].segments[segmentType:interact].segmentEnd"
  }, 
  {
    "displayIndex": 6,
    "queryIndex": 0,
    "displayName": "Agent",
    "displayFormat": "GUID",
    "queryURL": "User",
    "valueExpression": "participants[purpose:agent].userId"
  },
  {
    "displayIndex": 7,
    "queryIndex": 0,
    "displayName": "Wrapup Code",
    "displayFormat": "GUID",
    "queryURL": "WrapUpCode",
    "valueExpression": "participants[purpose:agent].sessions[mediaType:email].segments[segmentType:wrapup].wrapUpCode"
  }, 
  {
    "displayIndex": 8,
    "queryIndex": 0,
    "displayName": "Wrapup Notes",
    "displayFormat": "String",
    "valueExpression": "participants[purpose:agent].sessions[mediaType:email].segments[segmentType:wrapup].wrapUpNote"
  }]
}</textarea>
      </div>

      <div class="group-element-container">
        <button id="submitRawResults" class="group-button" onclick="submitRawResults()">Submit Results Configuration</button>
      </div>
    </div>
    <div class="results-div">
      <div id="formatResults"></div>
    </div>
    
    <div class="group-element-container">
      <button id="export" class="group-button fourths-divider" onclick="exportFunction()">Export</button>
    </div>
    <script>
      function gup(name, url) {
        if (!url) url = location.href;
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(url);
        return results == null ? null : results[1];
      };
    </script>

    <table id="example" class="display" width="100%"></table>
    <script>
      var QueryString = gup('queryCategory', null);
      //GetMetrics(QueryString);
      //document.getElementById("queries").innerHTML = CreateInitialQueryPage();
      //document.getElementById("groupByTable").innerHTML = CreateGroupByTableRow();
      //document.getElementById("metricsTable").innerHTML = CreateMetricsTableRow();
      //document.getElementById("resultsConfigTable").innerHTML += CreateResutlsConfigTableRow();
    </script>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script type="text/javascript" src="purecloud-api.js"></script>
    <script src="knockout-3.4.0.js"></script>
    <script src="scriptViewModel.js"></script>
    <script type="text/javascript">
      var viewModel = function() {
        var self = this;
        self.scriptViewModel = new scriptViewModel();
        self.scriptViewModel.parent = self;

      }
      var VM = new viewModel();
      ko.applyBindings(VM);
    </script>

  </div>
</body>