<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class='navbar-header'>
            <a class="navbar-brand" href="/">
                <i class="pc-moon pc-logo-inin"></i>
                <span class="navbar-brand-text hidden-xs">Developer Tools</span>
            </a>
        </div>
        <div id="navBar">
            {{nav-tree}}
        </div>
        <div class="menu-right">
            {{#header-bar}}{{/header-bar}}
        </div>
    </div>
</nav>
<div id="content">
    {{outlet}}
</div>
{{pinned-notifications}}
