<div class='top-banner'>

    {{#header-bar}}{{/header-bar}}

</div>
<div id="navBar" >
    <ul>
        <li>
            {{#link-to 'notificationtester' title="Notification Tester"  }}
              <i class="fa fa-paper-plane " aria-hidden="true"></i>
            {{/link-to}}

        </li>
        <!--
        <li>
            {{#link-to 'notificationtester'}}
                  <i class="fa fa-user" aria-hidden="true"></i>
            {{/link-to}}
        </li>
-->
    </ul>
</div>

<div id="content">
    {{outlet}}
</div>
