<div class='top-banner'>

    {{#header-bar}}{{/header-bar}}

</div>
<div id="navBar" >
    <ul>
        <li>
            {{#link-to 'api-explorer' title="API Explorer"  }}
              <i class="fa fa-file-code-o " aria-hidden="true"></i>
            {{/link-to}}

        </li>
        <li>
            {{#link-to 'notificationtester' title="Notification Tester"  }}
              <i class="fa fa-paper-plane " aria-hidden="true"></i>
            {{/link-to}}

        </li>
    </ul>
</div>

<div id="content">
    {{outlet}}
</div>
