<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class='navbar-header'>
            {{#link-to "index" class="navbar-brand"}}
            <div class="logo"></div>
            {{/link-to}}
        </div>
        <div id="navBar">
            {{nav-tree}}
        </div>
    </div>
</nav>
<div id="content">
    {{outlet}}
</div>
{{pinned-notifications}}
