<div class='top-banner'>
Developer Tools
</div>
<div id="navBar" >
    <ul>
        <li>
            {{#link-to 'notificationtester'}}
            <div type="button" class="btn btn-lg"
                    title="Notification Tester" data-toggle="tooltip"
                    data-placement="right">

              <span class="glyphicon glyphicon-cloud-download" aria-hidden="true">
              </span>
            </div>
            {{/link-to}}
        </li>

    </ul>
</div>

<div id="content">
    {{outlet}}
</div>
