<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class='navbar-header'>
            {{#link-to "index" class="navbar-brand"}}
            <span class="navbar-brand-text hidden-xs">Developer Tools</span>
            {{/link-to}}
        </div>
        <div id="navBar">
            {{nav-tree}}
        </div>
        <div class="menu-right">
            {{#header-bar}}{{/header-bar}}
        </div>
    </div>
</nav>
<div id="content">
    {{outlet}}
</div>
{{pinned-notifications}}
