<div id='intro'>


<h2>Welcome to the Developer Tools</h2>
On the left are the tools available for helping you work with the PureCloud APIs.

<table>
    {{#each model as |module|}}
    <tr>
        <td>
            <i class={{module.icon}} aria-hidden="true"></i>
        </td>
        <td>
            <b>{{module.name}}</b> - {{module.description}}
        </td>
    </tr>
    {{/each}}


</table>

</div>
