<div class='home'>
    <div class="hero">
        <h2>Welcome to the Developer Tools</h2>
        <p class="lead">Tools for helping you work with the PureCloud APIs</p>
    </div>

    <div class="module-grid">
        {{#each model as |module|}}
            <a class="module-link" href="#/{{module.path}}">
                <i class={{module.icon}} aria-hidden="true"></i>
                <strong>{{module.name}}</strong>
                <p>{{module.description}}</p>
            </a>
        {{/each}}
    </div>
</div>