{{outlet}}
<button {{action 'login'}}>Log Into PureCloud</button>

<br />
Current Region: US-East (mypurecloud.com)<br />
<br />
To log into a different region go to<br />
<a href='https://developer.mypurecloud.ie/developer-tools/'>EMEA (mypurecloud.ie)</a><br />
<a href='https://developer.mypurecloud.jp/developer-tools/'>Asia Pacific - Tokyo (mypurecloud.jp)</a><br />
<a href='https://developer.mypurecloud.com.au/developer-tools/'>Asia Pacific - Sydney (mypurecloud.com.au)</a><br />
